.progress {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
    }
    &__item {
        display: grid;
        grid-template-rows: 36px 14px;
        row-gap: 20px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__value {
        margin-bottom: 0;
        padding-top: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__bar {
        height: 14px;
        width: 100%;
        border-radius: 4px;
        background-color: #E8E4DE;
        &_filled {
            height: 100%;
            border-radius: 4px;
            background-color: $main-color;
        }
    }
}